@import url('https://fonts.googleapis.com/css2?family=Alef:wght@700&family=Montserrat:wght@100&family=Poppins:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alef:wght@700&family=Kanit:wght@900&family=Montserrat:wght@100&family=Poppins:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#nav{
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: flex-start;
    background-color: palevioletred;
    cursor: pointer;
}
#main{
    height: 100%;
    width: 100%;
    background-color: palevioletred;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main>img{
    height: 500px;
    /* width: 500px; */
    position: relative;
    z-index: 99;
}

/* #part1{
    height: 100%;
    width: 30%;
    background-color: pink;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: #dcd4d400;
} */
/* #part3{
    height: 100%;
    width: 10%;
    background-color: pink;
}
#text{
    width: 400px; 
    position: absolute;
    left:4% ;
    top: 50%;
    transform: translate(0, -50%);
} 
#text>h1{
    font-size: 90px;
    font-family: 'Alef', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 80px;
    color: white;
    letter-spacing: 1px;
} */

#vertical{
    position: absolute;
    right: -50%;
    top: -5%;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
}
#vertical>h1{
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Alef', sans-serif;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    animation-name: vertscroll;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#scroll{
    position: absolute;
    top: 14%;
    width: 100%;
    height: 180px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll::-webkit-scrollbar{
    display: none;
}
#scroll h1{
    display: inline-block;
    font-size: 140px;
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 3px;
    animation-name: newscroll;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



#scroll2{
    position: absolute;
    top: 34%;
    width: 100%;
    /* height: 180px; */
    z-index: 180;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll2::-webkit-scrollbar{
    display: none;
}
#scroll2 h1{
    display: inline-block;
    font-size: 140px;
    font-family: 'Kanit';
    text-transform: uppercase;
    color: transparent;
    margin-right: 30px;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    animation-name: newscroll;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#scroll3{
    position: absolute;
    top: 54%;
    width: 100%;
    height: 180px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll3::-webkit-scrollbar{
    display: none;
}
#scroll3 h1{
    display: inline-block;
    font-size: 140px;
    font-family: 'Kanit';
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 3px;
    animation-name: newscroll;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;

}
#new-text{
    font-size: 30px;
    position: absolute;
    font-family: "Kanit";
    width: 60%;
    z-index: 999;
    text-align: center;
    top: 10%;
    text-transform: uppercase;
}

@keyframes newscroll {
    0%{
        transform: translateX(calc(-100% - 30px));

    }
    100%{
        transform: translateX(0);

    }
    
}

@keyframes vertscroll {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100% );
    }
}